<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872893646474-pc8onl0gr5j683rq6sah8d17k579240h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872893646474-pc8onl0gr5j683rq6sah8d17k579240h</string>
	<key>API_KEY</key>
	<string>AIzaSyBYetsZLBdLV9wQvGYq2g-j5OGYLNgSRz8</string>
	<key>GCM_SENDER_ID</key>
	<string>872893646474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>green.less.openpudo-quigreen</string>
	<key>PROJECT_ID</key>
	<string>quigreen-1a754</string>
	<key>STORAGE_BUCKET</key>
	<string>quigreen-1a754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872893646474:ios:7eb196b642dab7a7ec0f73</string>
</dict>
</plist>